* {
  --grey: hsl(0, 0%, 8%);
  --grey--light: hsl(0, 0%, 12%);
  --grey--lighter: hsl(0, 0%, 20%);

  --green: hsl(75, 94%, 57%);

  --white: hsl(0, 0%, 100%);

  --normal: 400;
  --bold: 700;

  --text: 14px;
  --heading: 24px;
  --spacing: 8px;
}

body {
  /* display: grid;
  place-content: center; */
  background-color: var(--grey);
  font-family: "Inter", serif;
  font-weight: var(--normal);
  font-size: var(--text);
  color: var(--white);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  border-radius: 50%;
  margin-block: calc(var(--spacing) * 4);
  width: 25%;
}

.profileBio {
  margin-block-end: calc(var(--spacing) * 3);
}

h1 {
  font-size: var(--heading);
  margin-block-end: var(--spacing);
}

h2 {
  font-weight: bold;
  font-size: var(--text);
  color: var(--green);
  margin-block-end: calc(var(--spacing) * 3);
}

li {
  list-style: none;
  margin-block-end: calc(var(--spacing) * 3);
}

a {
  background-color: var(--grey--lighter);
  padding-block: calc(var(--spacing) + 4px);
}

.linkButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCard {
  background-color: var(--grey--light);
  width: min(calc(100% - 48px), 456px);
  border-radius: 12px;
  /* margin-inline: auto; */
}

.wrapper {
  padding-inline: calc(var(--spacing) * 4);
}
