* {
  --grey: hsl(0, 0%, 8%);
  --grey--light: hsl(0, 0%, 12%);
  --grey--lighter: hsl(0, 0%, 20%);

  --green: hsl(75, 94%, 57%);

  --white: hsl(0, 0%, 100%);

  --normal: 400;
  --bold: 700;

  --text: 14px;
  --heading: 24px;
  --spacing: 8px;
}

body {
  /* display: grid;
  place-content: center; */
  background-color: var(--grey);
  font-family: "Inter", serif;
  font-weight: var(--normal);
  font-size: var(--text);
  color: var(--white);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  border-radius: 50%;
  margin-block: calc(var(--spacing) * 4);
  margin-block-start: calc(var(--spacing) * 5);
  width: 25%;
}

.profileBio {
  margin-block-end: calc(var(--spacing) * 3);
}

h1 {
  font-size: var(--heading);
  margin-block-end: var(--spacing);
}

h2 {
  font-weight: bold;
  font-size: var(--text);
  color: var(--green);
  margin-block-end: calc(var(--spacing) * 3);
}

li {
  list-style: none;
  margin-block-end: calc(var(--spacing) * 4);
}

a {
  background-color: var(--grey--lighter);
  padding-block: calc(var(--spacing) + 4px);
  text-align: center;
  border-radius: calc(var(--spacing));
  font-weight: bold;
  transition: all 0.3s;
  text-decoration: none;
  color: var(--white);
  width: 100%;
}

a:hover {
  background-color: var(--green);
  color: var(--grey);
}

a:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px var(--green);
}

.linkButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
}

.profileCard {
  background-color: var(--grey--light);
  width: min(calc(100% - 48px), 456px);
  border-radius: 12px;
  /* margin-inline: auto; */
}

.wrapper {
  padding-inline: calc(var(--spacing) * 4);
  margin-block-end: calc(var(--spacing) * 3);
}
